@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #222;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.no-number-spin::-webkit-inner-spin-button,
.no-number-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-number-spin {
  -moz-appearance: textfield;
}




/* max-width */
@media(max-width:991px){
   .main_container{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .user_detail{
        display: flex;
        justify-content: space-between;
    }

    .user_detail_container{
        display: flex;
        flex-direction: column;
    }

   
}

@media(max-width:475px){
    .user_detail_container{
        display: flex;
        gap:4px;
    }

    .saved_items{
        display: none;
    }

    .items_data{
        display: flex;
    }

    .req_thumb_image{
        width: 100px;
        max-width:50px;
    }

    



}

@media(max-width:320px){
    .main_div_width{
        width: 225px;
    }
}


/* for notification images */
@media(max-width:768px){
    .notify-image{
        height: 100px;
    }
}


@media(max-width:320px){
    .items_data{
        display: flex;
        flex-direction: column;
    }

    .user_detail{
        display: flex;
        flex-direction: column;
    }
}


@media(max-width:375px){
    .drop_menu{
        display: none;
    }
}


